@import "tailwindcss";

/* dispaly */
.flex {
  display: flex;
}
/*colors */
.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}

/* padding */
.padding-16 {
  padding: 16px;
}
